body {
	background-color: tan;
	padding: 20px;
	font-size: 15px;
	color: blue;
}

img {
	height: 300px;
	width: 300px;
}

button {
	color: red;
	font-size: 15px;
}

.rowDiv {
	display: inline-block;
	margin: 10px;
}
